.gen-div {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 2rem 4rem 1.5rem 0;

}

.gen-welcome {
  width: 50vh;
  height: 20vh;
  background-color: #d8e4e8;
  box-shadow: 15px 15px 0px 0 rgba(0, 0, 0, 0.1);
}

.p-welcome {
  padding-top: 5vh;
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #000000;
}

.gen-graph {
  width: 40vh;
  height: 30vh;
  margin-left: 10vh;
  border-radius: 10px;
}

.gen-img {
  width: 100%;
  height: 100%;
  border: 10px solid #d8e4e8;
  border-radius: 10px;

}
